<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.b3.build.BuildUnitInterface">
      <interface
            interface-name="org.eclipse.b3.beelang.tests.buildunittypes.Fruit">
      </interface>
   </extension>
   <extension
         point="org.eclipse.b3.build.RepositoryScheme">
      <repositoryType
            buildUnitRepositoryClass="org.eclipse.b3.beelang.tests.repo.TestRepo"
            scheme="b3test">
      </repositoryType>
   </extension>

</plugin>
