<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://b3backend/1.0"
            class="org.eclipse.b3.backend.evaluator.b3backend.B3backendPackage"
            genModel="model/B3Backend.genmodel"/>
   </extension>

</plugin>
