<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
       point="org.eclipse.ui.commands">
    <command
          description="Runs the function called main"
          id="org.eclipse.b3.beelang.ui.execute"
          name="Run Main Function">
    </command>
    <command
          description="Runs the function main() in dev mode"
          id="org.eclipse.b3.beelang.ui.run.debugmain"
          name="Run function main() (dev mode)">
    </command>
    <command
          description="runs a parameter given b3 command on b3 resource"
          id="org.eclipse.b3.ui.run.b3cmd"
          name="Run b3 command">
       <commandParameter
             id="org.eclipse.b3.ui.run.b3cmd.pathParameter"
             name="cmdPath"
             optional="false">
       </commandParameter>
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="org.eclipse.b3.build.ui.commands.RunMainFunctionInActiveEditorHandler"
          commandId="org.eclipse.b3.beelang.ui.execute">
    </handler>
    <handler
          class="org.eclipse.b3.build.ui.commands.RunMainFunctionInModelHandler"
          commandId="org.eclipse.b3.beelang.ui.run.debugmain">
		  <activeWhen>
             <iterate>
                <adapt
                      type="org.eclipse.b3.build.BeeModel">
                </adapt>
             </iterate>
          </activeWhen>
          
    </handler>
    <handler
          class="org.eclipse.b3.build.ui.commands.RunCmdOnResourceHandler"
          commandId="org.eclipse.b3.ui.run.b3cmd">
    </handler>
 </extension>

</plugin>
