<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.8"?>
<target name="org.eclipse.cbi.p2repo.aggregator.prereqs">
  <locations>

    <!-- need "current platform" to run in workbench
      <location path="${eclipse_home}" type="Profile"/>
    -->

    <location
      includeAllPlatforms="false"
      includeConfigurePhase="false"
      includeMode="slicer"
      includeSource="false"
      type="InstallableUnit">
      <unit
        id="org.eclipse.license.feature.group"
        version="1.0.1.v20140414-1359" />
      <repository location="http://download.eclipse.org/cbi/updates/license/1.0.1.v20140414-1359/" />
    </location>

    <location
      includeAllPlatforms="false"
      includeConfigurePhase="false"
      includeMode="slicer"
      includeSource="false"
      type="InstallableUnit">
      <unit
        id="com.ibm.icu"
        version="56.1.0.v201601250100" />
      <unit
        id="com.ibm.icu.source"
        version="56.1.0.v201601250100" />
      <unit
        id="org.apache.ant"
        version="1.9.6.v201510161327" />
      <unit
        id="org.apache.ant.source"
        version="1.9.6.v201510161327" />
      <unit
        id="org.hamcrest.core"
        version="1.3.0.v201303031735" />
      <unit
        id="org.hamcrest.core.source"
        version="1.3.0.v201303031735" />
      <unit
        id="org.junit"
        version="4.12.0.v201504281640" />
      <unit
        id="org.junit.source"
        version="4.12.0.v201504281640" />
      <unit
        id="org.sat4j.core"
        version="2.3.5.v201308161310" />
      <unit
        id="org.sat4j.pb"
        version="2.3.5.v201404071733" />
      <unit
        id="org.tukaani.xz"
        version="1.3.0.v201308270617" />
      <unit
        id="org.tukaani.xz.source"
        version="1.3.0.v201308270617" />
      <unit
        id="org.kohsuke.args4j"
        version="2.0.21.v201301150030" />
      <unit
        id="org.kohsuke.args4j.source"
        version="2.0.21.v201301150030" />


<!-- required indirectly. They are required by ECF. --> 
      <unit
        id="org.apache.httpcomponents.httpclient"
        version="4.3.6.v201511171540" />
      <unit
        id="org.apache.httpcomponents.httpclient.source"
        version="4.3.6.v201511171540" />
      <unit
        id="org.apache.httpcomponents.httpcore"
        version="4.3.3.v201411290715" />
      <unit
        id="org.apache.httpcomponents.httpcore.source"
        version="4.3.3.v201411290715" />
        
<!-- required by m2e bundles --> 
      <unit
        id="org.slf4j.api"
        version="1.7.2.v20121108-1250" />
      <unit
        id="org.slf4j.api.source"
        version="1.7.2.v20121108-1250" />
       
<!-- These bundles are required only indirectly by other bundles. Plus, 
     they are part of "the platform" so we do not need to pre-req them. 
      <unit
        id="org.w3c.css.sac"
        version="1.3.1.v200903091627" />
      <unit
        id="org.w3c.css.sac.source"
        version="1.3.1.v200903091627" />
      <unit
        id="org.w3c.dom.smil"
        version="1.0.1.v200903091627" />
      <unit
        id="org.w3c.dom.smil.source"
        version="1.0.1.v200903091627" />
      <unit
        id="org.w3c.dom.svg"
        version="1.1.0.v201011041433" />
      <unit
        id="org.w3c.dom.svg.source"
        version="1.1.0.v201011041433" />
      <unit
        id="javax.inject"
        version="1.0.0.v20091030" />
      <unit
        id="javax.inject.source"
        version="1.0.0.v20091030" />
      <unit
        id="org.w3c.dom.events"
        version="3.0.0.draft20060413_v201105210656" />
      <unit
        id="org.w3c.dom.events.source"
        version="3.0.0.draft20060413_v201105210656" />
-->
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170307180635/repository/" />
    </location>
    <location
      includeAllPlatforms="false"
      includeConfigurePhase="false"
      includeMode="slicer"
      includeSource="false"
      type="InstallableUnit">
      <unit
        id="org.eclipse.emf.common.feature.group"
        version="2.12.0.v20160420-0247" />
      <unit
        id="org.eclipse.emf.common.source.feature.group"
        version="2.12.0.v20160420-0247" />
      <unit
        id="org.eclipse.emf.ecore.feature.group"
        version="2.12.0.v20160420-0247" />
      <unit
        id="org.eclipse.emf.ecore.source.feature.group"
        version="2.12.0.v20160420-0247" />
      <repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.12/base/S201604200247/" />
    </location>
    <location
      includeAllPlatforms="false"
      includeConfigurePhase="false"
      includeMode="slicer"
      includeSource="false"
      type="InstallableUnit">
      <unit
        id="org.eclipse.emf.edit"
        version="2.12.0.v20160526-0356" />
      <unit
        id="org.eclipse.emf.edit.source"
        version="2.12.0.v20160526-0356" />
      <unit
        id="org.eclipse.emf.edit.ui"
        version="2.12.0.v20160526-0356" />
      <unit
        id="org.eclipse.emf.edit.ui.source"
        version="2.12.0.v20160526-0356" />
      <unit
        id="org.eclipse.emf.common.ui"
        version="2.11.0.v20160526-0356" />
      <unit
        id="org.eclipse.emf.common.ui.source"
        version="2.11.0.v20160526-0356" />
      <repository location="http://download.eclipse.org/modeling/emf/emf/updates/2.12/core/R201605260356/" />
    </location>

    <location
      includeAllPlatforms="false"
      includeConfigurePhase="false"
      includeMode="slicer"
      includeSource="false"
      type="InstallableUnit">
      <unit
        id="org.eclipse.ecf.core.feature.feature.group"
        version="1.3.0.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.core.ssl.feature.feature.group"
        version="1.1.0.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.filetransfer.feature.feature.group"
        version="3.13.2.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group"
        version="3.13.2.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group"
        version="1.1.0.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group"
        version="1.1.0.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.core.source.feature.feature.group"
        version="1.3.0.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.core.ssl.source.feature.feature.group"
        version="1.1.0.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.filetransfer.source.feature.feature.group"
        version="3.13.2.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.filetransfer.httpclient4.source.feature.feature.group"
        version="3.13.2.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.filetransfer.httpclient4.ssl.source.feature.feature.group"
        version="1.1.0.v20160823-2221" />
      <unit
        id="org.eclipse.ecf.filetransfer.ssl.source.feature.feature.group"
        version="1.1.0.v20160823-2221" />
      <repository location="http://download.eclipse.org/rt/ecf/3.13.2/site.p2/" />
    </location>
    <location
      includeAllPlatforms="false"
      includeConfigurePhase="false"
      includeMode="slicer"
      includeSource="false"
      type="InstallableUnit">
      <unit
        id="org.eclipse.m2e.archetype.common"
        version="1.7.0.20160603-1931" />
      <unit
        id="org.eclipse.m2e.maven.runtime"
        version="1.7.0.20160603-1931" />
      <unit
        id="org.eclipse.m2e.maven.runtime.slf4j.simple"
        version="1.7.0.20160603-1931" />
      <unit
        id="org.eclipse.m2e.maven.indexer"
        version="1.7.0.20160603-1931" />
      <repository location="http://download.eclipse.org/technology/m2e/releases/1.7/1.7.0.20160603-1933/" />
    </location>

    <location
      includeAllPlatforms="false"
      includeConfigurePhase="false"
      includeMode="slicer"
      includeSource="false"
      type="InstallableUnit">
      <unit
        id="org.eclipse.equinox.p2.core.feature.feature.group"
        version="1.3.203.v20170131-1444" />
      <unit
        id="org.eclipse.equinox.core.feature.feature.group"
        version="1.3.3.v20170209-1843" />
      <unit
        id="org.eclipse.platform.feature.group"
        version="4.6.3.v20170301-0400" />
      <unit
        id="org.eclipse.equinox.executable.feature.group"
        version="3.6.300.v20161122-1740" />
      <unit
        id="org.eclipse.core.runtime"
        version="3.12.0.v20160606-1342" />
      <unit
        id="org.eclipse.equinox.concurrent"
        version="1.1.0.v20130327-1442" />
      <repository location="http://download.eclipse.org/eclipse/updates/4.6-M-builds/M-4.6.3RC4-201703010400" />
    </location>
  </locations>
</target>
