<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.b3.cli.commands">
      <command
            class="org.eclipse.b3.aggregator.engine.Builder"
            name="compositeChild">
      </command>
   </extension>
   <extension
         point="org.eclipse.b3.cli.commands">
      <command
            class="org.eclipse.b3.aggregator.engine.Modifier"
            name="modify">
      </command>
   </extension>
   <!-- Uncomment to register MDR supporting enhanced requirements
   <extension
         id="internalRepository"
         point="org.eclipse.equinox.p2.metadata.repository.metadataRepositories">
      <filter
            suffix="internalContent.xml">
      </filter>
      <factory
            class="org.eclipse.b3.aggregator.engine.internal.InternalMetadataRepositoryFactory">
      </factory>
   </extension>
   -->
</plugin>
