<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="BuildUnitInterface" name="BuildUnitInterface" schema="schema/BuildUnitInterface.exsd"/>
   <extension-point id="RepositoryScheme" name="RepositoryScheme" schema="schema/RepositoryScheme.exsd"/>
   <extension-point id="RepositoryValidator" name="RepositoryValidator" schema="schema/RepositoryValidator.exsd"/>
   <extension-point id="B3File" name="org.eclipse.b3.build.B3File" schema="schema/B3File.exsd"/>
   <extension-point id="B3KludgeImport" name="B3KludgeImport" schema="schema/B3KludgeImport.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://b3build/1.0"
            class="org.eclipse.b3.build.B3BuildPackage"
            genModel="model/B3Build.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.b3.build.RepositoryValidator">
      <repositoryValidator
            name="p2"
            validator="org.eclipse.b3.build.repository.IdentityBasedRepositoryValidator">
      </repositoryValidator>
   </extension>
   <extension
         point="org.eclipse.b3.build.RepositoryValidator">
      <repositoryValidator
            name="cvs"
            validator="org.eclipse.b3.build.repository.SCMRepositoryValidator">
      </repositoryValidator>
   </extension>
   <extension
         point="org.eclipse.b3.build.RepositoryValidator">
      <repositoryValidator
            name="svn"
            validator="org.eclipse.b3.build.repository.SCMRepositoryValidator">
      </repositoryValidator>
   </extension>
   <extension
         point="org.eclipse.b3.build.RepositoryValidator">
      <repositoryValidator
            name="git"
            validator="org.eclipse.b3.build.repository.SCMRepositoryValidator">
      </repositoryValidator>
   </extension>
   <extension
         point="org.eclipse.b3.build.RepositoryValidator">
      <repositoryValidator
            name="maven1"
            validator="org.eclipse.b3.build.repository.IdentityBasedRepositoryValidator">
      </repositoryValidator>
   </extension>
   <extension
         point="org.eclipse.b3.build.RepositoryValidator">
      <repositoryValidator
            name="maven2"
            validator="org.eclipse.b3.build.repository.IdentityBasedRepositoryValidator">
      </repositoryValidator>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.b3.build.engine.B3BuildEngineResourceFactory"
            protocolName="b3engine">
      </parser>
   </extension>
   <extension
         point="org.eclipse.b3.build.B3File">
      <b3extension
            b3id="b3.use.export"
            extensionURI="platform:/plugin/org.eclipse.b3.build/b3-src/javaimports.b3">
      </b3extension>
   </extension>

</plugin>
