<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cbi.p2repo.aggregator.legacy_transformation">
      <transformer
            class="org.eclipse.cbi.p2repo.aggregator.legacy.AggregatorTransformer_080_2_100"
            name="0.8.0_1.0.0"
            sourceEcoreUri="platform:/plugin/org.eclipse.cbi.p2repo.aggregator.legacy/models/aggregator_0.8.0.ecore"
            sourceNS="http://www.eclipse.org/amalgam/2008/build"
            sourceNSAttribute="xmlns:build"
            sourceTopElement="build:Build"
            targetEcoreUri="platform:/plugin/org.eclipse.cbi.p2repo.aggregator.legacy/models/aggregator_1.0.0.ecore"
            targetNS="http://www.eclipse.org/cbi/p2repo/2010/aggregator/1.0.0">
      </transformer>
      <transformer
            class="org.eclipse.cbi.p2repo.aggregator.legacy.AggregatorTransformer_090_2_100"
            contextContributor="org.eclipse.cbi.p2repo.aggregator.legacy.AggregatorTransformer_090_2_100_ContextContributor"
            name="0.9.0_1.0.0"
            sourceEcoreUri="platform:/plugin/org.eclipse.cbi.p2repo.aggregator.legacy/models/aggregator_0.9.0.ecore"
            sourceNS="http://www.eclipse.org/buckminster/2009/aggregator"
            sourceNSAttribute="xmlns:aggregator"
            sourceTopElement="aggregator:Aggregator"
            targetEcoreUri="platform:/plugin/org.eclipse.cbi.p2repo.aggregator.legacy/models/aggregator_1.0.0.ecore"
            targetNS="http://www.eclipse.org/cbi/p2repo/2010/aggregator/1.0.0">
      </transformer>
      <transformer
            class="org.eclipse.cbi.p2repo.aggregator.legacy.AggregatorTransformer_100_2_110"
            name="1.0.0_1.1.0"
            sourceEcoreUri="platform:/plugin/org.eclipse.cbi.p2repo.aggregator.legacy/models/aggregator_1.0.0.ecore"
            sourceNS="http://www.eclipse.org/cbi/p2repo/2010/aggregator/1.0.0"
            sourceNSAttribute="xmlns:aggregator"
            sourceTopElement="aggregator:Aggregator"
            targetEcoreUri="platform:/plugin/org.eclipse.cbi.p2repo.aggregator.legacy/models/aggregator_1.1.0.ecore"
            targetNS="http://www.eclipse.org/cbi/p2repo/2011/aggregator/1.1.0">
      </transformer>
   </extension>

</plugin>
