<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="legacy_transformation" name="Legacy Transformation" schema="schema/legacy_transformation.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/cbi/p2repo/2010/aggregator/1.0.0"
            class="org.eclipse.cbi.p2repo.aggregator.AggregatorPackage"
            genModel="model/Aggregator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="b3aggr"
            class="org.eclipse.cbi.p2repo.aggregator.util.AggregatorResourceFactoryImpl"/>
      <parser
            class="org.eclipse.cbi.p2repo.aggregator.util.AggregatorResourceFactoryImpl"
            type="build">
      </parser>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Aggregator -->
      <package
            uri="http://www.eclipse.org/cbi/p2repo/2010/aggregator/p2view/1.0.0"
            class="org.eclipse.cbi.p2repo.aggregator.p2view.P2viewPackage"
            genModel="model/Aggregator.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Aggregator -->
      <parser
            type="p2view"
            class="org.eclipse.cbi.p2repo.aggregator.p2view.util.P2viewResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.cbi.p2repo.aggregator.p2.util.MetadataRepositoryResourceFactoryImpl"
            protocolName="b3aggr">
      </parser>
   </extension>
</plugin>
