<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cbi.p2repo.cli.commands">
      <command
            class="org.eclipse.cbi.p2repo.cli.builtin.RunScript"
            name="runScript">
      </command>
   </extension>
   <extension-point id="commands" name="commands" schema="schema/commands.exsd"/>
   <extension
         id="headless"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.cbi.p2repo.cli.Headless">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.cbi.p2repo.cli.headless"
            name="cbiAggr">
         <property
               name="appName"
               value="cbiAggr">
         </property>
      </product>
   </extension>

</plugin>
