<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Running Platform" sequenceNumber="4">
<locations>

<!-- At times, may need to add this "running platform" location
     to the build target, such as when testing from workspace 
-->
<location path="${eclipse_home}" type="Profile"/>

</locations>
<environment>
<os>linux</os>
<ws>gtk</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms256m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
