<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cbi.p2repo.aggregator.editor.legacy_transformation_ui">
      <transformer_wizard_page
            class="org.eclipse.cbi.p2repo.aggregator.legacy.ui.AggregatorTransformer_090_2_100_WizardPage"
            name="0.9.0_1.0.0">
      </transformer_wizard_page>
   </extension>

</plugin>
