<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="legacy_transformation_ui" name="Legady Tansformation UI" schema="schema/legacy_transformation_ui.exsd"/>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.b3"
            name="b3"/>
      <wizard
            category="org.eclipse.b3"
            class="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorModelWizard"
            icon="icons/full/obj16/AggregatorModelFile.gif"
            id="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorModelWizardID"
            name="%_UI_AggregatorModelWizard_label">
         <description>%_UI_AggregatorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Aggregator -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorModelWizardID"
            name="%_UI_AggregatorModelWizard_label"
            class="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AggregatorModelFile.gif">
         <description>%_UI_AggregatorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID"
            name="%_UI_AggregatorEditor_label"
            icon="icons/full/obj16/AggregatorModelFile.gif"
            extensions="aggr"
            class="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditor"
            contributorClass="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Aggregator -->
      <editor
            id="org.eclipse.cbi.p2repo.aggregator.p2view.presentation.P2viewEditorID"
            name="%_UI_P2viewEditor_label"
            icon="icons/full/obj16/P2viewModelFile.gif"
            extensions="p2view"
            class="org.eclipse.cbi.p2repo.aggregator.p2view.presentation.P2viewEditor"
            contributorClass="org.eclipse.cbi.p2repo.aggregator.p2view.presentation.P2viewActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.cbi.p2repo.aggregator.presentation.OpenFindIUDialogAction"
            commandId="org.eclipse.ui.edit.findReplace">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.cbi.p2repo.aggregator.presentation.FindPreviousIUAction"
            commandId="org.eclipse.ui.edit.findPrevious">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.cbi.p2repo.aggregator.presentation.FindNextIUAction"
            commandId="org.eclipse.ui.edit.findNext">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>

	<extension
	     point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
	  <key
         commandId="org.eclipse.ui.edit.findNext"
         contextId="org.eclipse.cbi.p2repo.aggregator.presentation.aggregatorEditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+K"/>
	  <key
         commandId="org.eclipse.ui.edit.findPrevious"
         contextId="org.eclipse.cbi.p2repo.aggregator.presentation.aggregatorEditorScope"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+M2+K"/>
   </extension>
 <extension
       point="org.eclipse.ui.contexts">
    <context
          description="Aggregator Editor is open"
          id="org.eclipse.cbi.p2repo.aggregator.presentation.aggregatorEditorScope"
          name="In Aggregator Editor"
          parentId="org.eclipse.ui.contexts.window">
    </context>
 </extension>
    <extension
         id="diagnostic"
         name="%_UI_AggregatorDiagnostic_marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="diagnostic.persistent"
         name="%_UI_AggregatorDiagnostic_marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.emf.ecore.diagnostic"/>
      <persistent value="true"/>
   </extension>
    <extension
         id="diagnostic.nonpersistent"
         name="%_UI_AggregatorDiagnostic_marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.emf.ecore.diagnostic"/>
      <persistent value="false"/>
   </extension>
    <extension
          point="org.eclipse.ui.ide.markerResolution">
         <markerResolutionGenerator
         	markerType="org.eclipse.cbi.p2repo.aggregator.editor.diagnostic.nonpersistent"
         	class="org.eclipse.cbi.p2repo.aggregator.presentation.DiagnosticMarkerResolutionGenerator">
         </markerResolutionGenerator>
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             defaultHandler="org.eclipse.cbi.p2repo.aggregator.presentation.FixVersionHandler"
             id="org.eclipse.cbi.p2repo.aggregator.editor.fixVersion"
             name="%fixVersion.command">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.commandImages">
       <image
             commandId="org.eclipse.cbi.p2repo.aggregator.editor.fixVersion"
             icon="icons/full/obj16/fixVersions.png">
       </image>
    </extension>
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.cbi.p2repo.aggregator.presentation.AggregatorEditorID?before=additions">
          <command
                commandId="org.eclipse.cbi.p2repo.aggregator.editor.fixVersion"
                style="push">
          </command>
       </menuContribution>
    </extension>

</plugin>
